.backdrop{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
}

.backdrop.is-hidden{
    opacity: 0;
    pointer-events:none;

}


.form{
  /*  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: block;*/
    width: 528px;
    height: 581px;
    margin-top: 221px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    padding-top: 8px;
    padding-right: 8px;
    background-color: #ffffff;
    outline: 2px solid black;

}


/*Стилизацыя иконки закрытия*/

.form-button{
    display: flex;
    padding: 10px;
    border-radius: 50%;
    margin-left:490px;
    margin-bottom: 2px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-button:focus{
    border: 1px solod royalblue;
}
/*Стилизацыя ссылки*/
.form-link{
    display: flex;
    font-family: 'Roboto', sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    justify-content: center;
    letter-spacing: 0.03em;
    margin-right: 30px;
    margin-bottom: 30px;
    color: #212121;
    text-decoration: none;

}

/*Стилизацыя елементов */
.line-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;margin-right:40px; position: relative;
   /* height: 40px;
    
   
   */
    /*border-radius: 4px;
    border: 2px solid rgb(9, 71, 33);*/
    
}
/*.line-form :focus{
    outline: none;
}
.line-form:hover{
    color: #2196F3;
    border: 2px solid blue;
}*/

.form-label{
    margin-bottom: 4px;
}

.form-input{
    padding: 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px; 
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-image: url(../images/svg-modal.svg#untitled);
    background-repeat: no-repeat;
    fill: salmon;
}
.form-input:focus{
    outline: none;
    border-color:#2196F3;
}
/*
.form-input:focus + .form-label {
    color: #2196F3;
    transform: translateY(-230%) translateX(-50%);
}*/
.form-input:focus + .form-label,
.form-input :not(:placeholder-shown ) + .form-label{
    color: #2196F3;
    transform: translateY(-230%) translateX(-50%);

}
.form-label{
    position: absolute;
    top: 50%;
    left: 42px;
    transform: translateY(-50%);
}
.form-input:placeholder-shown{
  background-color: aqua;
}

.icon-people{
    position: absolute;
    top: 14px;
    left: 19px;

    display: inline-block;
    width: 12px;
    height: 12px;
    fill: black;
    background-color:#ffffff;
}
.icon-tel{
    position: absolute;
    top: 14px;
    left: 18px;

    display: inline-block;
    width: 13px;
    height: 13px;
    fill: black;
    background-color:#ffffff;
}
.icon-mail{
    position: absolute;
    top: 14px;
    left: 17px;

    display: inline-block;
    width: 15px;
    height: 12px;
    fill: black;
    background-color:#ffffff;
}




/*Стилизацыя comment*/
.comment-form{
     display: flex;
    flex-direction: column;
    margin-right:40px;
    margin-bottom: 20px;
   
}
.comment-form .textarea-comment{
    resize: vertical;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}
.label-comment{
    margin-bottom: 4px;
}
.textarea-comment:focus{
    outline: none;
    border-color:#2196F3;;
}
/*
.mail-label :focus{
    margin-left: 57px;
    margin-bottom: 4px;
    
}
.mail-label:active .mail-form,
.mail-label:hover .mail-form{
    transform: translateY(-120%);
    left: 57px;
    top: 105px;
    transform: translate(57px 105px);
}
.mail-input{
    display: inline-block;
    border: none;
    padding: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 42px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    background-image: url(../images/svg-modal.svg#untitled);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 14px;
  
}





/*.mail-label:hover{
    position: absolute;
    margin-left: 57px;
    margin-bottom: 4px;*/

    /*position: absolute;
    left: 42px;
    top: 12px;
}*/







/*Модяльне вікно №"2**

.mail-input{
    display: inline-block;
    border: none;
    padding: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 42px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;
    background: url(../images/проба/проба.png);
    background-size: 12px 12px;
    background-repeat: no-repeat;
    background-position: center;
    background-position-x: 14px;
  
}

.mail{
    display: inline-block;
    width: 100%;
    height: 40px;
    margin-top: 20px;
    border: 1px solid black;
}

/*.mail-label{
    padding-left: 42px;
    
}*/