.backdrop{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    
    /*transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) ;*/
}

.backdrop .is-hidden{
    opacity: 0;
    pointer-events:none;
   /* transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) ;*/
    /*z-index: 1050;*/
}


.form{
    width: 528px;
    height: 581px;
    margin-top: 221px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px;
    padding-top: 8px;
    padding-right: 8px;
    background-color: #ffffff;
    outline: 2px solid black;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

}


/*Стилизацыя иконки закрытия*/

.form-button{
    display: flex;
    padding: 10px;
    border-radius: 50%;
    margin-left:490px;
    margin-bottom: 2px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.form-button:focus{
    border: 1px solod royalblue;
}
/*Стилизацыя ссылки*/
.form-link{
    display: flex;
    font-family: 'Roboto', sans-serif;;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    justify-content: center;
    letter-spacing: 0.03em;
    margin-right: 30px;
    margin-bottom: 30px;
    color: #212121;
    text-decoration: none;

}

/*Стилизацыя елементов */
.line-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-right:40px; 
    position: relative;

    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;

    color: #757575;
    
}

.form-label{
    margin-bottom: 4px;
}

.form-input{
    padding: 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px; 
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}
.form-input:focus{
    outline: none;
    border-color:#2196F3;
}

.form-input:focus + .form-label,
.form-input :not(:placeholder-shown ) + .form-label{
    color: #2196F3;
    transform: translateY(-230%) translateX(-50%);

}
.form-label{
    position: absolute;
    top: 50%;
    left: 42px;
    transform: translateY(-50%);
}
.form-input :placeholder-shown{
  /*background-color: aqua;*/
  color: #757575;;
}

.icon-people{
    position: absolute;
    top: 14px;
    left: 19px;

    display: inline-block;
    width: 12px;
    height: 12px;
    fill: black;
    background-color:#ffffff;
}
.icon-tel{
    position: absolute;
    top: 14px;
    left: 18px;

    display: inline-block;
    width: 13px;
    height: 13px;
    fill: black;
}
.icon-mail{
    position: absolute;
    top: 14px;
    left: 17px;

    display: inline-block;
    width: 15px;
    height: 12px;
    fill: black; 
  
}
.line-form :focus ~ .icon-people,
.line-form :focus ~ .icon-mail,
.line-form :focus ~ .icon-tel{
    fill:#2196F3;
    
}


/*Стилизацыя comment*/
.comment-form{
     display: flex;
    flex-direction: column;
    margin-right:40px;
    margin-bottom: 20px;
    position: relative;
}
.comment-form .textarea-comment{
    resize: vertical;
    height: 120px;
    padding: 12px 16px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;

    color: #757575;
    transform: translateY(0px);
}
/*.textarea-comment{
    position: absolute;
    top: 12px;
    left: 16px;
}*/
.label-comment{
    margin-bottom: 4px;


    position: absolute;
    top: 12px;
    left: 16px;

    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.01em;

    color: #757575;


}
.textarea-comment:focus{
    outline: none;
    border-color:#2196F3;;
}



.textarea-comment:focus + .label-comment,
.textarea-comment :not(:placeholder-shown ) + .label-comment{
    color: #2196F3;
    transform: translateY(-30px) ;

}  


/*ЧЕКБОКС*/
.form-field{
    margin-bottom: 30px;
}


/*      */

/*КНОПКА*/
.button-modal{
    display: flex;
    align-items: center;
    justify-items: center;
    letter-spacing: 0.06em;
    font-size: 16px;
    width: 200px;
    height: 50px;
    margin: auto;
    padding: 10px 56px;
    background-color: #188CE8;
    /*box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);*/
    border-radius: 4px;
    border: 1px solid #188CE8;
    color: white;
    cursor: pointer;
}
.button-modal:focus{
    outline: none;
   
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
