html {
    box-sizing: border-box;
    background-color: $accent-color;
}

*::before,
*::after{ 
    box-sizing: inherit;
}


body{
    background-color: $primery-white-color;
   color: $primery-text-color;
   font-family: $font-family;
   font-style: normal;
   letter-spacing: 0.03em;
   margin: 0 auto;
   padding-top: 80px;
}
h1, h2, h3 {
    font-family: $font-family;
    font-weight: 700;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
}


