.logo {
    color: $accent-color;
    
&-text {
    color: #000000;
    font-family: $secondary-font-family;
    line-height: 1.19;
    font-weight: 700;
    font-size: 26px;

    display: inline-block;
    width: 153px;
    margin-top: 24px;
    margin-bottom: 25px;
    margin-right: 85px;}
    }
    