
.page-title{
    font-style: normal;
    font-weight: 900;
    
    
    letter-spacing: 0.06em;
    color: $primery-white-color;
   /* width: 696px;*/
    text-align: center;
    margin: 0px 0px; /*auto*/
   

@media screen and (max-width:1199px){
    font-size: 26px;
     line-height: 1.61; 
     padding-top: 118px; 
   }
@media screen and (min-width:1200px){
      font-size: 44px; 
       line-height: 1.36;
       padding-top: 200px;
   }
}



.ban {
    background-color: $accent-color;
    color: $primery-white-color;
    font-family: $font-family;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    
    display: inline-block;
   padding: 10px 32px;
    /*width: 136px;*/
    text-align: center;
    margin-bottom: 200px;
  margin-top: 40px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
 
&:focus{
 outline: none;
 border: 1px solid $accent-color;
} 
}


