header{
    display: flex;
    background-color: $primery-white-color;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    outline: $line;
    
    

}
.header-list {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}


.container-nav{
    display: flex;

    &-a{
        color: red($color: #000000);
    }
    
}