header{
 
    display: flex;
    
    background-color: $primery-white-color;
    z-index: 999;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;
    outline: $line;
  width: 100%;
  @media screen and (max-width:767px) {
    max-height: 60px;
   /* width:100%;*/
    ///*width: 480px;*/
  }  
  @media screen and (min-width:768px) {  
        height: 80px;
        /*width: 100%;*/
    }
    

}

.header-list {
    //*width: 1200px;*/
   
    padding-left: 15px;
    padding-right: 15px;
    max-width: 480px;
  

@media screen and (min-width:480px) {
    min-width: 480px;
    max-height: 60px;
    
}
@media screen and (min-width:768px) {
    min-width: 768px;
    
}

@media screen and (min-width:1200px) {
    width: 1170px;
    margin: 0 auto;
    height: 80px;
}
}


.container-nav{
    display: flex;

   /* &-a{
        color: red($color: #000000);
    }*/
  

}