$primery-text-color: #212121;
$title-text-color:  #757575;
$accent-color: #2196F3;
$footer-text-color: rgba(255, 255, 255, 0.4);
$primery-white-color: #FFFFFF;

$font-family: Roboto, sans-serif;
$secondary-font-family: Raleway, sans-serif;


$line: 1px solid rgba(47, 48, 58, 0.1);

$timing-function:  cubic-bezier(0.4, 0, 0.2, 1);
$timing-values:transform 250ms $timing-function;

$bg-color:rgba(47, 48, 58, 0.8);


    