.button-modal{
    display: flex;
    align-items: center;
    justify-items: center;
    letter-spacing: 0.06em;
    font-size: 16px;
    width: 200px;
    height: 50px;
    margin: auto;
    margin-top: 30px;
    padding: 10px 56px;
    background-color: #188CE8;
    border-radius: 4px;
    border: 1px solid #188CE8;
    color: $primery-white-color;

    cursor: pointer;

&:focus{
    outline: none;  
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
}
