.backdrop{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    
    z-index: 1000;
    transition: $timing-values ;

&.is-hidden{
    opacity: 0;
    pointer-events: none;
   visibility: hidden;  
}    
}

.form{
    width: 528px;
    height: 581px;
    margin-top: 221px;
    margin-left: auto;
    margin-right: auto;
  
    background-color: $primery-white-color;
    outline: 2px solid $icon-color-bleck;
    box-shadow: $shadow;
    border-radius: 4px;
}